<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>

<body>

    <% if (user) { %>
        <%- include('partials/_navbar.ejs') %>

            <div class="button">
                <button type="button" class="button"
                    onclick="window.location.href='users/<%= user._id %>/referrals'">View
                    Referrals</button>
                <button type="button" class="button"
                    onclick="window.location.href='users/<%= user._id %>/referrals/new'">Create Referral</button>
            </div>


            <% } else { %>

                <div class="card-container">

                    <div class="card">
                        <div class="welcomeTitle">
                            <h1 class="welcomeBanner">CareTrack</h1>
                        </div>

                        <div>
                            <form action="/auth/sign-up" method="POST" class="form">
                                <div class="label">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" required />
                                </div>
                            
                                <div class="label">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" required />
                                </div>
                            
                                <div class="label">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" name="confirmPassword" id="confirmPassword" required />
                                </div>
                            
                                <div class="button">
                                    <button type="submit" class="button-primary">Sign up</button>
                                </div> 
                                
                                <div>
                                    <p>Already have an account?</p>
                                    <div>
                                        <button type="button" class="button-secondary" onclick="window.location.href='/'">Sign in</button>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

                <% } %>
</body>

<footer>
</footer>

</html>