<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
</head>

<body>

    <div class="card-container">
    
        <div class="card">
            <div class="welcomeTitle">
                <a href="/"><h1 class="welcomeBanner">CareTrack</h1></a>
            </div>
    
            <div class="card-items">
                <form class="form" action="/auth/sign-in" method="POST">
                    <div class="label">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required />
                    </div>
    
                    <div class="label">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required />
                    </div>
    
                    <div>
                        <button type="submit" class="button-primary">Sign in</button>
                    </div>
    
                    <div>
                        <p>Don't have an account yet?</p>
                        <div>
                            <button type="button" class="button-secondary"
                                onclick="window.location.href='/auth/sign-up'">Register here</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<footer>
</footer>

</html>