<nav>
    <div class="hamburger" id="hamburger-icon">
        &#9776;
    </div>

    <div class="nav-links" id="nav-links">
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/users/<%= user._id %>/referrals/new">Create Referral</a>
            <a href="/users/<%= user._id %>/referrals">My Referrals</a>
            <a href="/users">Team</a>
            <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/auth/sign-in">Sign In</a>
            <a href="/auth/sign-up">Sign Up</a>
        <% } %>
    </div>
</nav>

<script>
    document.getElementById('hamburger-icon').addEventListener('click', function () {
        document.getElementById('nav-links').classList.toggle('active');
    });
</script>