<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Intake EHR</title>
</head>
<body>
        <% if (user) { %>
            <%- include('./partials/_navbar.ejs') %>
            <div class="title">
                <img src="images/peace-lily.png" alt="">
                <h1>Welcome, <%= user.username %>.</h1>
            </div>
        <% } else { %>
            <div class="title">
                <img src="images/peace-lily.png" alt="">
                <h1>Welcome, guest.</h1>
            </div>

            <div class="button">
                <button type="button" class="button" onclick="window.location.href='/auth/sign-in'">Sign in</button>
                <button type="button" class="button" onclick="window.location.href='/auth/sign-up'">Sign up</button>
            </div>
        <% } %>
</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="plant icons">Plant icons created by surang.</a>
</footer>

</html>