<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>CareTrack</title>
</head>

<body>

    <% if (user) { %>
        <%- include('partials/_navbar.ejs') %>

            <div class="search-card">
                <form class="search" action="/referrals/search" method="GET">
                    <div class="search-bar">
                        <input class="bar" type="text" placeholder="First name" name="firstName">
                        <input class="bar" type="text" placeholder="Last name" name="lastName">
                        <input class="bar" type="date" placeholder="DOB" name="dob">
                        <button class="button-secondary"><i>Search</i></button>
                    </div>
                </form>
            </div>

            <div class="button-container">
                <button type="button" class="button-primary"
                    onclick="window.location.href='users/<%= user._id %>/referrals'">View Referrals</button>
                <button type="button" class="button-primary"
                    onclick="window.location.href='users/<%= user._id %>/referrals/new'">Create Referral</button>
            </div>

    <% } else { %>
        <%- include('partials/_navbar.ejs') %>
        <div class="hero-section">
            <h2>Referral Management System</h2>
            <p>Designed with care providers in mind and care seekers at heart.</p>
            <div class="hero-buttons">
                <a href="/preview"><button class="button-secondary">Preview</button></a>
            </div>  
        </div>

        <img src="/images/banner-no-text.png" alt="asfsafds" width="100%">
    <% } %>
</body>

<footer>
</footer>

</html>