<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ivy EHR</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
        <!-- <div class="welcomeTitle">
            <h1 class="welcomeBanner">Welcome to Ivy EHR</h1>
        </div> -->
        
        <div class="button">
            <button type="button" class="button" onclick="window.location.href='users/<%= user._id %>/referrals'">View Referrals</button>
            <button type="button" class="button" onclick="window.location.href='users/<%= user._id %>/referrals/new'">Create Referral</button>
        </div>
    
    
    <% } else { %>
        <!-- <div class="welcomeTitle">
            <h1 class="welcomeBanner">Ivy EHR</h1>
        </div> -->
        
        <div class="button">
            <button type="button" class="button" onclick="window.location.href='/auth/sign-in'">Sign in</button>
            <button type="button" class="button" onclick="window.location.href='/auth/sign-up'">Sign up</button>
        </div>
        
    <% } %>
</body>

<footer>
    <!-- <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by surang.</a> -->
</footer>

</html>