<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Intake EHR</title>
</head>
<body>
    <!-- insert nav here and later on flesh out the styling for a better homepage experience -->
    <h1>Welcome to Intake EHR</h1>

</body>
</html>