@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 1.6em;
}

.welcomeBanner {
    padding-top: .6em;
}

/* Nav */

a:visited,
a:link {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 5em;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
}

nav a:hover {
    transform: scale(1.1);
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 10px;
}

/* Primary button */
/* From Uiverse.io by suda-code (with adjustments) */

button:hover {
    cursor: pointer;
}

.button-primary {
    padding: 10px 28px;
    border: 1.2px solid #222366;
    border-radius: 100px;
    background-color: #222366;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-primary:hover {
    border: 1.2px solid #aac1dd;
    background-color: #aac1dd;
    transform: scale(1.1);
}

.button-primary:active {
    background-color: #222366;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98); 
}

/* Secondary button */
.button-secondary {
    padding: 10px 20px;
    border: 1.2px solid #222366;
    border-radius: 100px;
    background-color: transparent;
    color: #222366;
    font-weight: normal;
    font-size: 1em;
    transition: all 0.4s;
}

.button-secondary:hover {
    background-color: #aac1dd;
    border: 1.2px solid #aac1dd;
    color: #ffffff;
    transform: scale(1.1);
}

.button-secondary:active {
    background-color: #222366;
    color: #ffffff;
    transform: scale(0.96);
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form div {
    padding: .6em;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-weight: 600;
}

.label input {
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    margin-top: .4em;
    font-size: 1em;
    padding: .3em;
}

.referral-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.form-fieldset {
    padding: 1em;
    margin-bottom: 1em;
    width: 90%;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.form-group {
    margin: 1em;
}

legend {
    font-size: 1.2em;
}

#currentGrade {
    width: 2ch;
    box-sizing: content-box;
}

#address {
    width: 60%;
}

#notes {
    width: 100%;
    height: 5em;
    resize: vertical;
}

/* Card */

.card-container {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1.2em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: white; 
}

.card-items {
    width: 100%;
}


/* Mobile */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        transition: max-height 1s ease, opacity 0.8s ease;
        opacity: 0;
    }

    .nav-links a {
        text-align: center;
        padding: 10px;
        background-color: lightgrey;
        margin: 5px 10px;
    }

    .nav-links.active {
        max-height: 1000px;
        opacity: 1;
    }

}