<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        testing
        
        
    </div>
</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by
        surang.</a>
</footer>

</html>