<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a new referral:</h1>
    <form action="/users/<%= user._id %>/referrals" method="POST">

        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="birthday">Birthday:</label>
                <input type="text" name="birthday" id="birthday">
            </div>

        </fieldset>

        <button type="submit">Add referral</button>

    </form>
</body>

</html>