<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/philodendron.png" alt="">
        <h1>Create a Referral</h1>
    </div>
    <form action="/users/<%= user._id %>/referrals" method="POST">

        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" pattern="[A-Za-z]+">
            </div>

            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" id="birthday">
            </div>

        </fieldset>

        <div class="button">
            <button type="submit" class="button">Create Referral</button>
        </div>
    </form>
</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="plant icons">Plant icons created by surang.</a>
</footer>

</html>

<script>
    window.addEventListener("load", () => {
        const d = (new Date()).toLocaleDateString('en-US');
        document.getElementById(birthday).value = d;
    });
</script>